<a href="https://colab.research.google.com/github/nvnrai8/trinity.github.io/blob/main/Tuples_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
my_tuple=(1,2,3,'apple','banana')
my_tuple

(1, 2, 3, 'apple', 'banana')

In [ ]:
# Allow duplicates
# Since tuples are indexed, they can have items with the same value:
# here my_tuple is redefined not reassigned

In [6]:
my_tuple=(1,2,3,'apple','banana','apple','banana')
my_tuple

(1, 2, 3, 'apple', 'banana', 'apple', 'banana')

In [9]:
# Tuple Length and type:
print(len(my_tuple))
print(type(my_tuple))

7
<class 'tuple'>

In [10]:
#  Tuple Items - Data Types

# Creating tuples with different type of elements
person_info=("Alice",30,"New York")
grades=(90,85,78,92)
is_student=(True, False,True)

# Accessing elements of the tuples
print(person_info[0])
print(grades[2])
print(is_student[1])

Alice
78
False

In [12]:
# without a trailing comma, it's not recogniszed as a tuple
not_a_tuple=(5)
print(type(not_a_tuple))

# with a trailing comma, it's recognized as a tuple
a_tuple=(5,)
print(type(a_tuple))

<class 'int'>
<class 'tuple'>

### Access Tuple Items

In [15]:
my_tuple=("apple","banana","cherry","date","elderberry")

#Slicing to access a range of items
print(my_tuple[1:4])

# Slicing with a step
print(my_tuple[0::2])

('banana', 'cherry', 'date')
('apple', 'cherry', 'elderberry')

In [16]:
my_tuple=("apple","banana","cherry","date","elderberry")

#Accessing items using positive indexing
print(my_tuple[0])
print(my_tuple[2])


#Accessing items using positive indexing
print(my_tuple[-1])
print(my_tuple[-3])

apple
cherry
elderberry
cherry

In [18]:
# Exercise Time
word_tuple=("computer","lamp","book","table","chair","clock")

In [21]:
print(word_tuple[1:4])
print(word_tuple[-5:-2])  #with negative indexing

('lamp', 'book', 'table')
('lamp', 'book', 'table')

Check if Item Exists

In [17]:
thistuple=("apple","banana","cherry")
if "apple" in thistuple:
    print("Yes,'apple' is in the fruits tuple")

Yes,'apple' is in the fruits tuple

# **Python - Update Tuples**
Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called. But there is a workaround.
You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
student_names=("Aarav","Divya","Gauri","Kiran","Rahul")
student_names[1]="Divyashree"
print(student_names)

In [23]:
# Original tuple of student names
student_names=("Aarav","Divya","Gauri","Kiran","Rahul")


# Convert to a list
student_names_list=list(student_names)
student_names_list[1]="Divyashree"

# Convert the list back to a tuple

student_names_updated=tuple(student_names_list)
print(student_names_updated)

('Aarav', 'Divyashree', 'Gauri', 'Kiran', 'Rahul')

### **Add items to Tuple**

In [24]:
thistuple=("Aarav","Divya","Gauri","Kiran","Rahul")
temp=list(thistuple)
temp.append("Naveen")
thistuple=tuple(temp)

print(thistuple)

('Aarav', 'Divya', 'Gauri', 'Kiran', 'Rahul', 'Naveen')

In [25]:
thistuple=("Aarav","Divya","Gauri","Kiran","Rahul")
temp=("Naveen",)
thistuple+=temp

print(thistuple)

('Aarav', 'Divya', 'Gauri', 'Kiran', 'Rahul', 'Naveen')

### **Remove Items**

In [26]:
thistuple=("Aarav","Divya","Gauri","Kiran","Rahul","Naveen")
y=list(thistuple)
y.remove("Gauri")
thistuple=tuple(y)

print(thistuple)

('Aarav', 'Divya', 'Kiran', 'Rahul', 'Naveen')

In [29]:
thistuple=("Gauri",)
y=list(thistuple)
y.remove("Gauri")
thistuple=tuple(y)

print(thistuple)

()

**Truncate and Drop**

1. Truncate: variable would be present but data would be deleted
2. Drop: it will delete whole variable means everthing

In [28]:
thistuple=("Aarav","Divya","Gauri","Kiran","Rahul","Naveen")
del thistuple
#print(thistuple)

### **Unpacking a Tuple**

In [ ]:
#packing --grouping
items=("Chai","Coffee","Boost")
items

In [31]:
#unpacking  -- upgrouping
 (monday,wednesday, sunday)=items

In [32]:
monday

'Chai'

In [38]:
Students=("Aarav","Divya","Gauri","Kiran","Rahul","Naveen")

(Section_A,Section_B,*Section_C)=Students

print(Section_A)
print(Section_B)
print(Section_C)


print(type(Section_A))
print(type(Section_B))
print(type(Section_C))

Aarav
Divya
['Gauri', 'Kiran', 'Rahul', 'Naveen']
<class 'str'>
<class 'str'>
<class 'list'>

In [34]:
cord=(10,40)
x,y=cord

print(x)
print(y)

10
40

In [35]:
print(type(x))

<class 'int'>

### **Loop Through a Tuple**

In [44]:
Students=("Aarav","Divya","Gauri","Kiran","Rahul","Naveen")
for x in Students:
    print(x)

Aarav
Divya
Gauri
Kiran
Rahul
Naveen

In [40]:
Students=("Aarav","Divya","Gauri","Kiran","Rahul","Naveen")
for i in range(len(Students)):
    print(Students[i])

Aarav
Divya
Gauri
Kiran
Rahul
Naveen

In [42]:
Students=("Aarav","Divya","Gauri","Kiran","Rahul","Naveen")

i=0
while i < len(Students):
    print(Students[i])
    i=i+1

Aarav
Divya
Gauri
Kiran
Rahul
Naveen

### **Join Two Tuples**

In [45]:
tuple1=("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [46]:
tuple1=("a","b","c")
mytuple=tuple1*3
print(mytuple)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [47]:
mytuple.count('a')

3

In [48]:
mytuple.index('c')

2