<a href="https://colab.research.google.com/github/nvnrai8/trinity.github.io/blob/main/Tuples_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
my_tuple=(1,2,3,'apple','banana')
my_tuple

(1, 2, 3, 'apple', 'banana')

In [ ]:
# Allow duplicates
# Since tuples are indexed, they can have items with the same value:
# here my_tuple is redefined not reassigned

In [6]:
my_tuple=(1,2,3,'apple','banana','apple','banana')
my_tuple

(1, 2, 3, 'apple', 'banana', 'apple', 'banana')

In [9]:
# Tuple Length and type:
print(len(my_tuple))
print(type(my_tuple))

7
<class 'tuple'>

In [10]:
#  Tuple Items - Data Types

# Creating tuples with different type of elements
person_info=("Alice",30,"New York")
grades=(90,85,78,92)
is_student=(True, False,True)

# Accessing elements of the tuples
print(person_info[0])
print(grades[2])
print(is_student[1])

Alice
78
False

In [12]:
# without a trailing comma, it's not recogniszed as a tuple
not_a_tuple=(5)
print(type(not_a_tuple))

# with a trailing comma, it's recognized as a tuple
a_tuple=(5,)
print(type(a_tuple))

<class 'int'>
<class 'tuple'>

### Access Tuple Items

In [15]:
my_tuple=("apple","banana","cherry","date","elderberry")

#Slicing to access a range of items
print(my_tuple[1:4])

# Slicing with a step
print(my_tuple[0::2])

('banana', 'cherry', 'date')
('apple', 'cherry', 'elderberry')

In [16]:
my_tuple=("apple","banana","cherry","date","elderberry")

#Accessing items using positive indexing
print(my_tuple[0])
print(my_tuple[2])


#Accessing items using positive indexing
print(my_tuple[-1])
print(my_tuple[-3])

apple
cherry
elderberry
cherry

In [18]:
# Exercise Time
word_tuple=("computer","lamp","book","table","chair","clock")

In [21]:
print(word_tuple[1:4])
print(word_tuple[-5:-2])  #with negative indexing

('lamp', 'book', 'table')
('lamp', 'book', 'table')

Check if Item Exists

In [17]:
thistuple=("apple","banana","cherry")
if "apple" in thistuple:
    print("Yes,'apple' is in the fruits tuple")

Yes,'apple' is in the fruits tuple

# **Python - Update Tuples**
Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called. But there is a workaround.
You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
student_names=("Aarav","Divya","Gauri","Kiran","Rahul")
student_names[1]="Divyashree"
print(student_names)

In [23]:
# Original tuple of student names
student_names=("Aarav","Divya","Gauri","Kiran","Rahul")


# Convert to a list
student_names_list=list(student_names)
student_names_list[1]="Divyashree"

# Convert the list back to a tuple

student_names_updated=tuple(student_names_list)
print(student_names_updated)

('Aarav', 'Divyashree', 'Gauri', 'Kiran', 'Rahul')