<a href="https://colab.research.google.com/github/nvnrai8/trinity.github.io/blob/main/Tuples_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
my_tuple=(1,2,3,'apple','banana')
my_tuple

(1, 2, 3, 'apple', 'banana')

In [ ]:
# Allow duplicates
# Since tuples are indexed, they can have items with the same value:

In [6]:
my_tuple=(1,2,3,'apple','banana','apple','banana')
my_tuple

(1, 2, 3, 'apple', 'banana', 'apple', 'banana')

In [9]:
# Tuple Length and type:
print(len(my_tuple))
print(type(my_tuple))

7
<class 'tuple'>

In [10]:
#  Tuple Items - Data Types

# Creating tuples with different type of elements
person_info=("Alice",30,"New York")
grades=(90,85,78,92)
is_student=(True, False,True)

# Accessing elements of the tuples
print(person_info[0])
print(grades[2])
print(is_student[1])

Alice
78
False